body {
    font-family: 'Lato', sans-serif;
    font-weight: 350;
    text-align: center;
    margin-top: 150px;
    margin-right: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    background-image: url('pics/background.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 190px;
}

.header img {
    width: 450px;
    height: auto;
}

.container {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    width: 1200px;  /* Fixed width */
    margin-left: auto;
    margin-right: auto;
}

.column1,
.column2,
.column3 {
    flex: 1;
}

.column2 {
    padding: 0 10px; 
    margin-top: 50px;
    margin-left: 70px;
    align-self: flex-end;
}

.column1 {
    color: white;
    font-size: 50px;
    text-align: right;
    margin-bottom: 40px;

}

.column3 {
    color: white;
    font-size: 50px;
    text-align: left;
    margin-bottom: 40px;
    margin-left: 70px;
}

.highlight {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    color: yellow;
}

.text-box {
    margin-top: 50px;
    margin-right: 50px;
    color: white;
    font-size: 24px;
    text-align: right;
    margin-right: 200px;
}

.lyrics-box {
    margin-top: 50px;
    margin-right: 50px;
    color: white;
    font-size: 24px;
    text-align: center;
}
footer {
    background-color: #2c3e50;  /* A darker shade of blue for contrast. You can change this color to your preference. */
    padding: 20px 0;
    margin-top: 50px;
}

.footer-content {
    max-width: 800px;  /* Controlling the width for larger screens. */
    margin: 0 auto;
    text-align: center;
    color: #ecf0f1;  /* A light color for text to contrast with the background. */
}

.github-link {
    display: inline-block;
    margin-top: 10px;
    color: #ecf0f1;
    text-decoration: none;
    transition: color 0.3s ease;
}

.github-link:hover {
    color: #bdc3c7;  /* Slightly lighter color on hover for interactivity. */
}

.github-link img {
    width: 20px;  /* Adjust based on the size of the icon you want. */
    vertical-align: middle;
    margin-right: 5px;
}
.github-btn {
    display: inline-block;
    background-color: #333;  /* Dark background for the button */
    padding: 10px 15px;  /* Spacing inside the button */
    border-radius: 5px;  /* Rounded corners */
    color: #ffffff;
    text-decoration: none; 
    transition: background-color 0.3s ease; 
}

.github-btn:hover {
    background-color: #555; 
}

.github-btn img {
    width: 20px;
    vertical-align: middle;
    margin-right: 5px;
}